* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  border-bottom: 1px solid grey;
  text-align: center;
  margin: 10px;
}

.itemList {
  display: flex;
}
.section {
  width: 30%;
  border: 2px solid grey;
  padding-bottom: 20px;
  margin: 20px 20px;
  background-color: bisque;
  border-radius: 15px;
  min-height: 5rem;
}
.newItem {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  margin-top: 30px;
}

#newItem {
  font-size: 24px;
  padding: 10px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
}

#newItem:focus {
  outline-width: 0;
}
.newItem button {
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0;
}
.newItem button:hover {
  background-color: #9b7143;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  height: 30px;
  font-size: 24px;
}

.item [class="edit"] {
  font-size: 24px;
  max-width: 290px;
}
.item > div {
  display: inline-block;
}
.itemItems > i {
  width: 15px;
  cursor: pointer;
  margin: 7px;
  margin-right: 10px;
}

.horizontalArrows {
  display: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

@media screen and (max-width: 1500px) {
  .itemList {
    flex-direction: column;
    align-items: center;
  }
  .section {
    width: 60%;
  }

  .verticalArrows {
    display: none;
  }
  .horizontalArrows {
    display: flex;
  }

  .arrows i:first-child {
    margin-right: 40px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
  .section {
    width: 85%;
  }
}

@media screen and (max-width: 550px) {
  .section {
    width: 98%;
  }
}
